.nav-bar ul {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.nav-bar li {
    float: left;
}
.nav-bar li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.nav-bar li a:hover {
    background-color: #111;
}

.description{
    position: relative;
    margin-top: 80px;
    width: 90%;
    top: 10%;
    left: 5%;
    right: 5%;
    color: #111;
}
.description h1 a{
    text-decoration: none;
    color: #111;
}
.description h1 a:hover {
    opacity: 0.7;
}
.description h2 a{
    text-decoration: none;
    color: #594d4d;
}
.description h2 a:hover {
    opacity: 0.7;
}
.description p a{
    text-decoration: underline;
    color: #383030;
}
.description p a:hover {
    opacity: 0.7;
}
.description a{
    text-decoration: underline;
    color: #383030;
}
.description a:hover {
    opacity: 0.7;
}

.footer{
    margin-top: 50px;
    left: 0;
    bottom: 0;
    padding: 14px 20px;
    background-color: #333;
}
.footer a{
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
}
.footer:hover {
    background-color: #111;
}