html{
    margin: 0;
    overflow: scroll;
    /* overflow: auto; */
}

body {
    background-color: rgb(250, 245, 237);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.full-box{
    width: 100%;
    height: 100%;
    margin: 0;
}

/* Navbar container */
.nav-bar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
    width: 100%;
  }
  
  /* Links inside the navbar */
  .nav-bar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .nav-bar a:hover, .dropdown:hover .dropbtn {
    background-color: #111;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #111;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #000;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

.description{
    position: relative;
    margin-top: 80px;
    width: 90%;
    top: 10%;
    left: 5%;
    right: 5%;
    color: #111;
}
.description h1 a{
    text-decoration: none;
    color: #111;
}
.description h1 a:hover {
    opacity: 0.7;
}
.description h2 a{
    text-decoration: none;
    color: #594d4d;
}
.description h2 a:hover {
    opacity: 0.7;
}
.description p a{
    text-decoration: underline;
    color: #383030;
}
.description p a:hover {
    opacity: 0.7;
}
.description a{
    text-decoration: underline;
    color: #383030;
}
.description a:hover {
    opacity: 0.7;
}

.question p {
    font-weight: bold;
    color: rgb(74, 72, 227);
}

.hr-twill {
    width: 70%;
    float: left;
    border: 0;
    padding: 3px;
    background: repeating-linear-gradient(135deg, #a2a9b6 0px, #a2a9b6 1px, transparent 1px, transparent 6px);
}

.page-table{
    width: 70%;
    margin-left: 15%;
    overflow: auto;
}
.page-table table{ 
    border-collapse: collapse;
}
.page-table table td{
    width: 50px;
    text-align: center;
    border: 1.5px solid black;
}
.page-table table tr{
    border: 1.5px solid black;
}
.page-table table th{
    width: 50px;
    text-align: center;
    border: 1.5px solid black;
}

.wide-table{
    width: 90%;
    margin-left: 10%;
}
.wide-table table{ 
    border-collapse: collapse;
}
.wide-table table td{
    width: 300px;
    text-align: center;
    border: 1.5px solid black;
}
.wide-table table tr{
    border: 1.5px solid black;
}

.modules{
    float: absolute;
    width: 100%;
    display: table;
}

.colab-link a{
    text-decoration: underline;
    color: #1b0e7d;
}
.colab-link a:hover {
    opacity: 0.7;
}

.twocolumns{
    width: 50%;
    float: left;
}

.pageimage{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.wideimage{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.footer{
    margin-top: 50px;
    left: 0;
    bottom: 0;
    padding: 14px 20px;
    background-color: #333;
}
.footer a{
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
}
.footer:hover {
    background-color: #111;
}