html{
    margin: 0;
    overflow: scroll;
    /* overflow: auto; */
}

body {
    background-color: rgb(250, 245, 237);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.full-box{
    width: 100%;
    height: 100%;
    margin: 0;
}

.nav-bar ul {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.nav-bar li {
    float: left;
}
.nav-bar li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.nav-bar li a:hover {
    background-color: #111;
}

.description{
    position: relative;
    margin-top: 80px;
    width: 90%;
    top: 10%;
    left: 5%;
    right: 5%;
    color: #111;
}
.description h1 a{
    text-decoration: none;
    color: #111;
}
.description h1 a:hover {
    opacity: 0.7;
}
.description h2 a{
    text-decoration: none;
    color: #111;
}
.description h2 a:hover {
    opacity: 0.7;
}

.question p {
    font-weight: bold;
    color: rgb(74, 72, 227);
}

.hr-twill {
    width: 70%;
    float: left;
    border: 0;
    padding: 3px;
    background: repeating-linear-gradient(135deg, #a2a9b6 0px, #a2a9b6 1px, transparent 1px, transparent 6px);
}

.modules{
    float: absolute;
    width: 100%;
    display: table;
}

.colab-link a{
    text-decoration: underline;
    color: #1b0e7d;
}
.colab-link a:hover {
    opacity: 0.7;
}

.twocolumns{
    width: 50%;
    float: left;
}

.pageimage{
    width: 50%;
    margin: auto;
}

.footer{
    margin-top: 50px;
    left: 0;
    bottom: 0;
    padding: 14px 20px;
    background-color: #333;
}
.footer a{
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
}
.footer:hover {
    background-color: #111;
}